body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:  rgba(253, 181, 181, 0.747);
  }
 
  .restaurant-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    background-color: #ffffffc7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10%;
  }
  
  .left-section {
    flex: 1;
    padding-right: 20px;
  }
  
  .left-section img {
    max-width: 100%;
  }
  
  .center-section {
    flex: 2;
  }
  
  .center-section h1 {
    margin-top: 0;
  }
  
  .detail {
    margin-bottom: 15px;
  }
  
  .right-section {
    flex: 1;
    text-align: right;
  }
  
  .add-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  .food-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .food-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 10px;
    background-color: #ff0000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
   
  }
  
  .food-item h2 {
    margin: 0;
  }
  
  .delete-button,
  .confirm-button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #ffffff;
    color: #000000;
  }
  
  .confirm-button {
    background-color: #007bff;
    color: #000000;
    font-weight: bold;
    font-size: 13.3px; /* ปรับขนาดตามความต้องการ */
  }
  
  .confirm-button:hover {
    background-color: #0056b3;
  }
  .quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .plus-button,
  .minus-button {
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .p {
    margin: 0 10px;
    padding: 10px;
  }
 
  
  @media (max-width: 768px) {
    .login-box {
      width: 80%;
    }
  }