.menu-box {
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  /* background-color: #FFFFFF; */
  border-radius: 8px;
  /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); */
  justify-content: space-between;
  /* Responsive Mobile */
  @media (max-width: 768px) {
    padding: 10px;
    width: fit-content;
  }
}

.action-btn-layout{
  gap: 10px;  
}

/* Text */
.text-username {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px; */
}

/* Button */
.btn-add-menu {
  background-color: #ffffff;
  color: #e95a57;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, color 0.3s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.btn-add-menu:hover {
  background-color: #e95a57;
  color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Button Edit not use same design*/
.btn-edit {
  background-color: #FDCC63;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, color 0.3s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
}

.btn-edit:hover {
  background-color: #FDCC63;
  color: black;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-delete{
  background-color: #E95A57;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, color 0.3s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
}

.btn-delete:hover {
  background-color: #D44442;
  color: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Table */
.table {
  border-radius: 8px;
}

.table-header {
  background-color: #f2f2f2;
  border-radius: 8px;
  text-align: center;
}
