
/* Layout */
.order-menu-box{
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* background-color: #FFFFFF; */
    border-radius: 8px;
    /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); */
    justify-content: space-between;
    /* Responsive Mobile */
    @media (max-width: 768px) {
        padding: 10px;
        width: fit-content;
    }
}

.input-stepper-layout{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* Resposive Mobile */
    @media (max-width: 768px) {
        flex-direction: row;
    }
}

/* Button */
.btn-cart{
    background-color: #E95A57;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    /* Responsive Mobile */
    @media (max-width: 768px) {
        width: 100%;
        padding: 8px;
    }
}

.btn-cart:hover{
    background-color: #FFFFFF;
    color: #E95A57;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, color 0.3s;
}

.btn-add{
    background-color: #E95A57;
    color: #fff;
    border: none;
    width: 100%;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    /* Responsive Mobile */
    /* @media (max-width: 768px) {
        width: 100%;
        padding: 8px;
    } */
}

.btn-add:hover{
    background-color: #FFFFFF;
    color: #E95A57;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, color 0.3s;
}

.btn-incress{
    background-color: #E95A57;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    /* Responsive Mobile */
    /* @media (max-width: 768px) {
        width: 100%;
        padding: 8px;
    } */
}

.btn-incress:hover{
    background-color: #E95A57;
    color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, color 0.3s;
}

.btn-decress{
    background-color: #E95A57;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    /* Responsive Mobile */
    /* @media (max-width: 768px) {
        width: 100%;
        padding: 8px;
    } */
}

.btn-decress:hover{
    background-color: #E95A57;
    color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s, color 0.3s;
}

/* TextField */

/* card */
.card{
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    /* Responsive Mobile */
    @media (max-width: 768px) {
        padding: 10px;
        width: 100%;
    }
}

.card-title{
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}

.card-text{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 10px;
}



.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    /* Responsive Mobile */
    @media (max-width: 768px) {
        height: 150px;
    }
}


/* Text Price */
.text-price{
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}




